<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167523215604-25ig3tpl82gbm1l66hs8tlcktltu3n1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167523215604-25ig3tpl82gbm1l66hs8tlcktltu3n1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDTKT1oB1IA398X_jr8rPBYnXGcHRKAi4k</string>
	<key>GCM_SENDER_ID</key>
	<string>167523215604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cosmicarrows.Nostalgia</string>
	<key>PROJECT_ID</key>
	<string>nostalgia-1dfdb</string>
	<key>STORAGE_BUCKET</key>
	<string>nostalgia-1dfdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167523215604:ios:c369f30453eb5bdc</string>
	<key>DATABASE_URL</key>
	<string>https://nostalgia-1dfdb.firebaseio.com</string>
</dict>
</plist>